body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    background-color: #bcd1c1;
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            text-align: center;
        }
        p {
            width: 55%;
            font-size: 22px;
            text-align: justify;
        }
        .buttons {
            display: flex;
            justify-content: center;
            width: 70%;
            margin-top: 40px;
            button {
                min-width: 100px;
                max-width: 400px;
                text-align: center;
                margin-bottom: 40px;
                margin-right: 40px;
                margin-left: 40px;
                font-weight: bold;
                font-size: 18px;
                background-color: #bcd1c1;
                border: none;
                &:hover {
                    color: rgb(47, 150, 47);
                    cursor: pointer;
                }
            }
        }
    }
    
    
}

@media all and (max-width: 1000px) {
    .main {
        h1 {
        width: 100%;
        }
        #p1, #p2, #p3, #p4 {
            width: 90%;
        }
        .buttons {
            flex-direction: column;
            #buttons {
                width: 95%;
            }
        }
    }
}